<h4>Any Questions?</h4>
<ul>
    <li>Call us at<a href="">087 455 0221</a></li>
    <li>Call us at<a href="">weborders@winesdirect.i</a></li>
</ul>

{% schema %}
{
    "name": "Help Section",
    "settings": [
        {
            "type": "text",
            "id": "Helpblock",
            "label": "Help Block"
        }
    ],
    "presets": [
        {
            "name": "Help Block"
        }
    ]
}

{% endschema %}