<div class="header">
    <h2>Alive!</h2>
</div>

{% schema %}
{
    "name": "Help Section",
    "settings": [
        {
            "type": "text",
            "id": "Helpblock",
            "label": "Help Block"
        }
    ],
    "presets": [
        {
            "name": "Explorers Picks"
        }
    ]
}

{% endschema %}