.my-container {
  display: flex;
}
.mycontainer__content {
  flex: 2 1 auto;
}
.flyout-cart-container {
  flex: 0 0 300px;
  padding: 1em;
}
.flyout-quantity {
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 0.5em;
}