.my-container {
  display: flex;
}
.mycontainer__content {
  flex: 2 1 auto;
}
.flyout-cart-container {
  flex: 0 0 300px;
  padding: 1em;
}

.flyout-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flyout-quantity >.quantity > button:hover {
  background: #f2f2f2;
}